.box {
  position: fixed;
  height: 95vh;
  min-width: 23%;
  border-radius: 9px;
  box-shadow: 1px 8px 20px 1px rgb(167, 166, 166);
  margin-top: 3vh;
}

/*  main conetent css */
.mainBox {
  margin-top: 7vh;
  /* height: 200vh; */
}

/* post css */
.imgDiv {
  margin-left: -1.85vw;
  width: 108.5%;
  height: 100%;
  border-radius: 12px;
}
.btn {
  width: 100%;
}
.date {
  float: right;
}

/* rightside css */
form {
  width: 80%;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

/* left bar */
.content {
  text-align: center;
  margin-top: 4vh;
}
#profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #512da8;
  font-size: 55px;
  color: #fff;
  text-align: center;
  line-height: 150px;
  margin: 4vh 0 0 5.7vw;
}
.floatBtm {
  margin-top: 52.7vh;
}

/* landing page */

body {
  height: 100vh;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.leftContent {
  width: 55%;
  padding-top: 7%;
  margin-left: 5%;
}
.abc {
  text-align: left;
}
.brandName {
  color: #0066ff;
  font-size: 40px;
  font-weight: 700;
}
.title {
  font-size: 31px;
  font-family: Arial, Helvetica, sans-serif;
}
.description {
  margin-bottom: 22px;
}

.rightContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Recent LogIn */

.tab {
  width: 170px;
  height: 210px;
  background-color: #f7f5f5;
  border: none;
  outline: none;
  box-shadow: 0px 0px 1px grey;
  transition: 0.3s;
  cursor: pointer;
  padding: 0;
  border-radius: 9px;
  margin-right: 22px;
  margin-bottom: 22px;
}
.tab:hover {
  box-shadow: 0px 0px 10px rgb(177, 176, 176);
}
.crosSection {
  border-radius: 9px 9px 0px 0px;
  height: 25px;
}
.upper,
.upperForAdd {
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upperForAdd {
  height: 155px;
  border-radius: 9px 9px 0px 0px;
}
.add {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #0066ff;
  color: white;
  font-size: 49px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: white;
  height: 50px;
  border-radius: 0px 0px 9px 9px;
}
.text {
  color: #0066ff;
  font-size: 19px;
  padding-top: 13px;
}
.dltBtn {
  border: none;
  outline: none;
  background-color: rgb(172, 172, 172);
  border-radius: 50%;
  float: left;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 0.2s;
  text-align: center;
}
.dltBtn:hover {
  width: 20px;
  height: 20px;
  margin: 0px;
  color: rgb(172, 172, 172);
  transition: 0.2s;
  background-color: white;
}
.dltBtn .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 150%;
}

.dltBtn .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.dltBtn:hover .tooltiptext {
  visibility: visible;
}
img {
  width: 170px;
  height: 160px;
  border-radius: 9px 9px 0px 0px;
  margin-top: -25px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* LoginOrsignup */

.plate {
  background-color: white;
  height: 370px;
  width: 400px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px rgb(206, 205, 205);
  margin: 120px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input {
  width: 90%;
  height: 50px;
  margin-bottom: 18px;
  border-radius: 7px;
  border: 1px solid rgb(190, 189, 189);
  padding-left: 14px;
  font-size: 17px;
  outline-color: rgb(65, 182, 228);
}
.plateBtn {
  width: 94%;
  height: 50px;
  font-size: 19px;
  font-weight: 600;
  background-color: #0066ff;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 7px;
}
.backBtn {
  margin-top: 3%;
}
hr {
  width: 92%;
  margin-top: 35px;
  margin-bottom: 35px;
}
